body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.5em;
  background-color: #222;
  color: #eee;
}

a {
  color:#8888ee;
}
a:visited {
  color:#dc88ee;
}

#logo-header {
  text-align: center;
}

/* header and footer areas */
.menu { padding: 0; }
.menu li { display: inline-block; }
.article-meta, .menu a {
  text-decoration: none;
  background: #333;
  padding: 5px;
  border-radius: 5px;
}
.menu, .article-meta, footer { text-align: center; }
.title { font-size: 1.1em; }
footer a { text-decoration: none; }
hr {
  border-style: dashed;
  color: #ddd;
}

/* code */
pre {
  border: 1px solid #555;
  box-shadow: 5px 5px 5px #333;
  padding: 1em;
  overflow-x: auto;
}
code { background: #444; }
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }

.contact-form {
  width:700px;
  margin:auto;
}

.blog-index-post {
    padding: 0px;
    background-color: #252525;
    padding: 0px;
    border-radius: 5px;
}

.blog-index-post-meta {
    background-color: #333;
    padding: 0px;
    border-radius: 5px;
}

.blog-index-post-date {
    font-size: small;
    font-style: italic;
    float: right;
    padding: 5px 10px 5px 5px;
}

.blog-index-post-title {
    font-size: large;
    padding: 5px;
}

.blog-index-post-content {
    padding: 0px 20px 5px 20px;
}
