{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range (where $pages "Section" "!=" "") }}

    <div class="blog-index-post">

        <div class="blog-index-post-meta">
            <div class="blog-index-post-date">
            {{ range .Param "sysops" }}
                {{.}}
            {{end}}
            </div>
            <h2 class="blog-index-post-title"> {{ .Title | markdownify }}</h2>

        </div>
        <div class="blog-index-post-content">
            <div style="text-align:center"><img src="{{ .Param "screenshot" }}" width="400"/></div>
            <div style="clear:both"></div>
            {{ .Content }}
            
            <img src="/images/telnet.png" /> <a href="{{ .Param "telnet" | safeURL }}">{{ .Param "telnet" }}</a><br />
            {{ if .Param "ssh" }}
            <img src="/images/ssh.png" /> <a href="{{ .Param "ssh" | safeURL }}">{{ .Param "ssh" }}</a><br />
            {{ end }}
            {{ if .Param "www" }}
            <img src="/images/www.png" /> <a href="{{ .Param "www" }}">{{ .Param "www" }}</a><br />
            {{ end }}
            {{ if .Param "gopher" }}
            <img src="/images/gopher.png" /> <a href="{{ .Param "gopher" | safeURL }}">{{ .Param "gopher" }}</a><br />
            {{ end }}            
        </div>
    </div>
{{ end }}

<div style="text-align: center;padding:25px">
Want your Talisman BBS listed here? <a href="/contact/">Contact</a> me!
<div>
{{ partial "footer.html" . }}