{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range (where $pages "Section" "==" "posts") }}

    <div class="blog-index-post">

    <div class="blog-index-post-meta">
        <div class="blog-index-post-date">{{ .Date.Format "02 Jan 2006 15:04" }}</div>
        <h2 class="blog-index-post-title">{{ .Title | markdownify }}<h2>

    </div>
    <div class="blog-index-post-content">{{ .Content }}</div>
    </div>
{{ end }}
{{ partial "footer.html" . }}
