{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range (where $pages "Section" "!=" "") }}

    <div class="blog-index-post">

        <div class="blog-index-post-meta">
            <div class="blog-index-post-date">
            {{ range .Param "authors" }}
                {{.}}
            {{end}}
            </div>
            <h2 class="blog-index-post-title"> {{ .Title | markdownify }}</h2>

        </div>
        <div class="blog-index-post-content">
            <div style="float:left;padding-right:25px"><img src="{{ .Param "screenshot" }}" width="200"/></div>
            {{ .Content }}
            <div style="clear:both"></div>
            <a href="{{ .Param "download" }}"><img src="/images/download.png" /> Download</a>
        </div>
    </div>
{{ end }}
{{ partial "footer.html" . }}